* {
  margin : 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: brown;
  text-align: center;
  margin: 20px;
}

.first {
  margin: 40px;
}

a:link {
  text-decoration: none;
  
}
a:hover {
  color: rgb(55, 94, 223);
}

ol {
  margin-left: 30px;
}